.bookinfo{
    width: 800px;
    height: 40px;
    margin: auto;
    background-color: rgb(30,34,37);
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}
.bookinfo p{
    width: 33%;
    color: white;
}
#delete{
    width: 390px;
    height: 35px;
    color: rgb(170,48,64);
    border: 1px solid rgb(170,48,64);
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(43,62,79);
}
#edit{
    width: 390px;
    height: 35px;
    border: 1px solid rgb(31,128,141);
    color: rgb(31,128,141);
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(43,62,79);
}
#btns{
    margin: auto;
    width: 800px;
    justify-content: space-between;
}